@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Video Background */
  html,
  body {
    overscroll-behavior-y: contain;
  }

  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Work Section */
  .workCard {
    @apply rounded-lg overflow-hidden shadow-md dark:bg-charcoal dark:border dark:border-languageBorder hover:shadow-2xl hover:-translate-y-2 transition-all duration-500 animate-fade-in;
  }

  .workCardHeading {
    @apply text-xl text-darkGrey dark:text-lightGrey font-bold mb-3 group-hover:text-languageHover transition-colors duration-300;
  }

  .CardOverlay {
    @apply absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .workBtnOverlay {
    @apply absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .workBtn {
    @apply px-4 py-2 text-lightGrey bg-languageHover rounded-md text-sm font-medium flex items-center gap-1 transition-all duration-200 hover:scale-105;
  }

  .workLanguage {
    @apply px-3 py-1 text-xs rounded-full text-lightGrey bg-languageBg border border-languageBorder;
  }

  /* Coding Techniques section  */
  .card {
    @apply p-6 rounded-xl hover:-translate-y-1 transition-all duration-500 animate-fade-in dark:bg-charcoal border dark:border-borderGrey shadow-md dark:shadow-xl;
  }

  .card-heading {
    @apply mb-3 text-2xl font-semibold font-inter text-darkGrey dark:text-cardHeadingGrey;
  }

  .hamburger-top,
  .hamburger-bottom {
    transition: all 0.3s ease-in-out;
  }

  .active .hamburger-top {
    transform: translateY(6px) rotate(45deg);
  }

  .active .hamburger-bottom {
    transform: translateY(0px) rotate(-45deg);
  }
}
