@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Work Section */
  .workCard {
    @apply rounded-lg overflow-hidden shadow-md dark:border border-languageBorder transition-all duration-500 animate-fade-in hover:shadow-2xl hover:-translate-y-2;
  }

  .workCardHeading {
    @apply text-xl text-darkGrey dark:text-lightGrey font-bold mb-3 group-hover:text-gray-400 transition-colors duration-300;
  }

  .CardOverlay {
    @apply absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .workBtnOverlay {
    @apply absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .workBtn {
    @apply px-4 py-2 text-lightGrey bg-gray-400 rounded-md text-sm font-medium flex items-center gap-1 transition-all duration-200 hover:scale-105;
  }

  .workLanguage {
    @apply px-3 py-1 text-xs rounded-full text-lightGrey bg-languageBg border border-languageBorder;
  }

  /* Coding Techniques section  */
  .card {
    @apply p-6 rounded-xl dark:bg-cardBgGrey border shadow-md dark:border-borderGrey transition-all duration-500 hover:-translate-y-1 animate-fade-in;
  }

  .card-heading {
    @apply text-2xl font-semibold font-inter text-darkGrey dark:text-cardHeadingGrey mb-3;
  }

  .hamburger-top,
  .hamburger-bottom {
    transition: all 0.3s ease-in-out;
  }

  .active .hamburger-top {
    transform: translateY(6px) rotate(45deg);
  }

  .active .hamburger-bottom {
    transform: translateY(0px) rotate(-45deg);
  }
}
